.cards{
    display: grid;
    /*
    grid-template-rows: repeat(auto-fill, minmax(100px, 1fr));
    */
    grid-template-columns: repeat(auto-fill, minmax(100px,1fr));
    column-gap: 1rem;
    row-gap: 1rem;
    /*
    grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
    */
    margin: 0rem 2rem 0rem;
}

.face{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    grid-area: 1/1;
    align-self: center;
}

.card{
    border: 1px solid blue;
    border-radius: 5px;
    padding: .5rem;
    /* min-width: min(200px,1fr); */
}
.card p{
    margin: 0;
}
.firstCard{
    grid-column: span 2;
    display: flex;
    justify-content: center;
}

.firstCard ul{
    display: flex;
    flex-direction: column;
}

.secondCard{
    grid-column: span 2;
}

.thirdCard{
    grid-column: span 4;
}
.fourthCard{
    grid-column: span 4;
}

.skills{
    display: flex;
    justify-content: space-around;
}
.skill{
    text-align: center;

}
.logo{
    width: 32px;
    height: auto;
}