.cards{
    display: flex;
    flex-direction: column;
    
    /* row-gap: 1rem;
    margin: 0rem 2rem 0rem; */
}

.face{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;

}
.card{
    margin: 0 1rem;
}
.card + .card{
    padding-top: 2rem;
}
.card p{
    margin: 0;
}
.firstCard{
    display: flex;
    max-width: 340px;
    /* justify-content: space-around; */
}

.firstCardList{
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
}

.skills{
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
}
.skill{
    text-align: center;
}
.logo{
    width: 32px;
    height: auto;
}
.cppLogo{
    width: 28px;
    height: auto;
}