.nav-container{
    position: relative;
    overflow: hidden;
    transition: height 250ms ease-in-out;
    margin-bottom: 1.5rem;
}
.nav-container.collapsed {
    height: 4rem;
    margin-bottom: 0;
}
h1{
    margin: 0;
}
.LinkedIn-logo{
    height: 1.5em;
    width: auto;
    object-fit: contain;
    padding-top: .5rem;
}
.GitHub-logo{
    height: 2em;
    width: auto;
    object-fit: contain;
}
.external2{
    padding-bottom: .3rem;
}
.nav-list{
    padding: 1rem 0 1.5rem;
    list-style: none;
    text-align: center;
    background-color: aliceblue;
    margin: 0;
    transition: transform 250ms ease-in-out;
    position: relative;
}
.cv{
    display: flex;
    justify-content: center;
}
h3 + a{
    padding-left: .5rem;
}
.nav-toggle{
    position: absolute;
    padding: .5em;
    background: transparent;
    border: 0;
    cursor: pointer;
    top: 1.5rem;
    z-index: 1000;
}

.hamburger {
    display: block;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    width: 2em;
    height: 3px;
    background: #333;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    left: 0;
}

.hamburger::before { top: 6px; }
.hamburger::after { bottom: 6px; }

/* Optional: Add hover effect */
.nav-toggle:hover .hamburger,
.nav-toggle:hover .hamburger::before,
.nav-toggle:hover .hamburger::after {
    background: #666;
}

/* Animation for active state */
.nav-toggle.active .hamburger {
    transform: rotate(45deg);
}

.nav-toggle.active .hamburger::before {
    top: 0;
    transform: rotate(0);
}

.nav-toggle.active .hamburger::after {
    bottom: 0;
    transform: rotate(90deg);
}

.nav-hidden {
    transform: translateX(-100%);  /* Slides menu off-screen to the left */
}

.nav-list::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    background: linear-gradient(to right, #94fffb, #0073ff);
}

@media (min-width: 700px) {
    .nav-toggle {
        display: none; /* Hide the hamburger button */
    }
    .nav-list {
        display: flex; /* Ensure the nav list is displayed */
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    /* .nav-list li{
        margin: 0;
        padding: 0;
    } */
    /* .navItem{
        padding-top: .5rem;
    } */
    .gitNav{
        padding-top: 8px;
    }
}
@media (max-width: 699px){
    .navItem + .navItem{
        padding-top: .5rem;
    }
}