.projects h2{
    padding-left: 1rem;
    color: #012858;
    margin: 4rem 0 1rem;
}
.projects .disclaim{
    padding: 0 1rem 1rem;
}
.project{
    border: 1px solid #a5b6cb;
    border-radius: 15px;
    padding: 1rem;
}
.project+.project{
    margin-top: 2rem;
}
.projectDescriptor *{
    padding-bottom: .25rem;
}
.projectDescriptor{
    margin-bottom: 1rem;
}
.projectTitle,
.repository{
    display: flex;
}
.projectTitle h3{
    color:#012858;
}
.repository h4{
    color: #9d9d9d;
}
.repository img{
    width: 16px;
    height: auto;
}
.projectImage{
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}